.section-5{
    background:linear-gradient(100deg, #ED374D 0%, #FA793F 51%, #F7F651 100%);
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    

}
.blob-bottom-section-4{
    width: 100%;
}

.section-5-wraper{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 10vh 0;
    gap: 30px;
    
}

.pressale-details{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 10px;
}

.three-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    min-height: 650px;
    position: relative;
    
}

.card-1-and-3{
    background-color: #ffffff;
    max-width: 500px;
    height: 600px;
    align-self: flex-start;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    position: relative;
    gap: 0px;
}

.card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    max-width: 500px;
    height: 600px;
    align-self: flex-end;
    border-radius: 2.5rem;
    position: relative;
    width: 30%;
    gap: 0px;
}

.number-big{
    position: absolute;
    top:20px;
    font-size: 20rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #c7c7c769;

}

.phase{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 10px;
}

.text-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: center;
}

.text-1-p{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 500;
    font-size: 1.4rem;
}

.text-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bnb{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 600;
    font-size: 1.8rem;
}

.soft-hard{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 300;
    font-size: 1.6rem;
}

.person-1{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 14%;
}

.person-2{
    position: absolute;
    bottom: 0;
    right: 30%;
    z-index: 3;
    width: 14%;
}


@media screen and (max-width:950px) {
    .three-cards{
        flex-direction: column;
        
    }
    .card-1-and-3{
        width: 50%;
        height: 400px;
        align-self: center;
    }

    .card-2{
        width: 50%;
        height: 400px;
        align-self: center;
    }

    .person-1{
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 20%;
    }
    
    .person-2{
        position: absolute;
        bottom: 0;
        right: 10%;
        z-index: 3;
        width: 20%;
    }
    
}

@media screen and (max-width:670px) {

    .card-1-and-3, .card-2{
        width: 70%;
    }

    
    .person-1{
        position: absolute;
        bottom: 0;
        left: 00%;
        width: 30%;
    }
    
    .person-2{
        position: absolute;
        bottom: 0;
        right: 0%;
        z-index: 3;
        width: 30%;
    }

}

@media screen and (max-width:400px) {

    .card-1-and-3, .card-2{
        width: 90%;
    }

}

