.section-4{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: max-content;
    margin-top: 10vh;
    background-image: url('assets/blobs/blob-4.svg');
    background-size: cover;
    padding-top: 40vh;
    padding-bottom: 40vh;


}

.section-4-wraper{
    display: flex;
    width: 80%;
    align-items: center;
    height: 80%;
    z-index: 2;
    justify-content: space-between;
}

.section-4 h2{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 10px;
}

.texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-rocket{
    width: 40%;
    height: fit-content;
}

.image-rocket img{
    width: 100%;
    height: fit-content;
}

.normal-text{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 300;
    font-size: 1.6rem;
}

.bold{
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #191B21;
    font-weight: 600;
    font-size: 1.6rem;
}

@media screen and (max-width:2000px) {
    .section-4{
        padding-top: 30vh;
        padding-bottom: 20vh;
    }
}

@media screen and (max-width:1700px) {
    .section-4{
        padding-top: 30vh;
    }
}

@media screen and (max-width:950px) {
    .section-4{
        padding-top: 20vh;
    }
    .section-4-wraper{
        flex-direction: column-reverse;
    }
    .texts{
        width: 100%;
    }
    .image-rocket{
        width: 80%;
    }
}


@media screen and (max-width:400px) {
    .section-4{
        padding-top: 20vh;
        padding-bottom: 30vh;
    }
}